BOT_TOKEN=7879761733:AAFGS3hHFZfj9TRloVZSwDSUlX9Ped5VB24
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
BACKEND_URL=http://localhost:8080
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_AUDIO=audio-recordings